body{
  font-family: 'Montserrat', sans-serif;
  }
.ours{
  color: rgb(39, 37, 60);
    text-align: center;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight:bold;
    margin:0;
white-space: pre-line;
display: block;
margin-block-start: 1.33em;
margin-block-end: 1.33em;
margin-inline-start: 0px;
margin-inline-end: 0px;
word-break: break-word;
padding-left : 50px;
padding-right:50px;
}
.ou{
color: rgb(81,81,109,1);
text-align: center;
font-weight: 400;
    font-size: 20px;
    position: relative;
    line-height: 1.4;
    word-break: break-word;
}
.imgUs{
  border-radius:10px ;
  width: 317px ;
  height: auto ;
  top: 0px;
}
.v{
  display: block;
  padding: 15px;
}
.KU{
  height:300px;
  width:300px;
  margin: 0;
}
.allMember{
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  max-width: 1050px;
  margin: -20px auto;
}
figure{
  padding-top: 100%;
  height:initial;
  border-radius: 10px;
  width:100%;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding:0;
  display: block;
}
.overlayy1{
 position: absolute;
 bottom: -30px;
 left: 0;
 right: 0;
 background :linear-gradient(to top, rgb(0, 0, 0) 0%, transparent 100%);
 overflow: hidden;
width: 100%;
height: 0;
transition: .5s ease;
z-index:1;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
display: block;
}
figure:hover .overlayy1{
height:50%;
}
.text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 800;
  position: relative;
  font-family: 'Montserrat', sans-serif ;
  text-align: center;
  transition: all 0.3s ease-out 0s;
  white-space: pre-line;
  transform: translateY(20px) !important;
  word-break: break-word;

}
.text2{
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  position: relative;
  text-align: center;
  transition: all 0.3s ease-out 0s;
  font-family: 'Montserrat', sans-serif;
  transform: translateY(10px) !important;
  white-space: pre-line;
  word-break: break-word;
  line-height: 6;
}
.comp{
  position: absolute;
  visibility: hidden;
  width: 0px;
  height: 0px;
  top: -95px;
  left: 50%;
  text-align: center;
}
.Types{
  background:linear-gradient(rgba(244, 244, 244, 0.5), rgba(244, 244, 244, 0.5)) , url(images/718b69982c87098d453c0d4116a3887e.jpg) center center / cover no-repeat;
  width:100%;
 padding-bottom: 60px;
  flex-direction: column;
  padding-top: 0px;
  display: flex;
  overflow: hidden;
  word-break: break-word;
  font-weight: 400;
  left:0px;
}
.hh5{
  font-size: 25px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif; 
  color: white;
  padding: 10px;
}
.blur{
  width: 100%;
  overflow: hidden;
  padding-top:60px;
  backdrop-filter: blur(15px);
  background: rgba(244, 244, 244, 0.5);
  word-break: break-word;

}
.hh{
  word-break: break-word;
  font-weight: 700;
  font-size:42px;
  color: rgb(39, 37, 60);
  position: relative;
  white-space: pre-line;
  text-align: center;
  margin-top:0px;
  margin-bottom:0px;
  padding:0;
}
.comp-p{
  margin-top: 20px;
  color: rgb(39, 37, 60);
  font-weight:400;
  line-height: 1.5;
  font-size: 20px;
  position: relative;
  white-space: pre-line;
  margin:0;
  padding:0;
  word-break: break-word;
  text-align: center;
  display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
.iicon{
  width: 100%;
text-align: center;
font-weight:400;
}
.bbb{
  height:5px;
  width:400px;
  bottom:0px;
  position: relative;
 background-color: rgb(39, 37, 60);
 border-top-left-radius: 15px;
 border-top-right-radius: 15px;
 margin-left:auto;
 margin-right:auto;
 margin-bottom:-30px;
 padding-bottom:0px;
}
.Type1{
  display: flex;
  width: 80%;
  margin: 30px auto auto;
  -webkit-box-pack: center;
  justify-content: center;
}
.imageType1{
  width:30%;
  box-sizing: border-box;

  display: block;
  position: relative;
  top:0px;
  border-radius: 15px;
}
.figType1{
  border-radius: 15px;
  -webkit-mask-image: -webkit-radial-gradient(center, white, black);
  width:338px;
  height:400px;
  margin: auto;
  position: relative;
}
.textType1{
  width:61%;
  overflow: hidden;
 box-sizing: border-box;
  word-break: break-word;
}
.textType1_2{
  position: relative;
  height:calc(100% - 30px);
 padding : 30px 24px 30px 30px;
  background-color: rgb(39, 37, 60);
  word-break: break-word;
  box-sizing: border-box;
  margin: 15px auto;
}
:not(svg){
  transform-origin: 0px 0px;
}
.cls-1{
  fill: rgb(39, 37, 60);
  transform: translate(0, 0);
}
a{
  text-decoration: none;
}
