body{
    margin: 0;
    padding: 0;
}
.title{
    width: 100%;
    text-align: center;
    background-color: rgb(89 87 111);
    margin:0 ;
    padding: 40px;

    border-bottom: 2px solid rgb(0, 0, 0 , .3);

}
.title h1{
    color: white;
    font-weight: bolder;
    margin:5px;
}
.title p{
    color: rgb(255, 255, 255 ,.8);
    margin-top: 20px;
}
.outer-stories{
    height: 350px;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: rgb(39, 37, 60)
}
.inner-story{
    width: 33.33%;
    min-height: 100%;
    float: left;
    background-color:rgb(39, 37, 60) ;
    padding: 50px;
    padding-bottom:70px;
    padding-top:20px;
    line-height: 1.7;
}
.inner-story h2{
    font-weight: bolder;
    color: white;
    margin-left: 0;
    padding-left: 0;
    margin:15px;

}
.inner-story p{
    color: rgb(255, 255, 255 ,.8);
}
.inner-story a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
.inner-story a:hover{
    color: rgb(255, 255, 255 ,.8);
    text-decoration: underline;
}
.inner-story img {
    width: 50px;
}
